body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

header {
  width: 100%;
  background: #4554cb;
  color: white;

  padding: 10px 0;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0 20px;
}

h2 {
  color: #fff;
}

nav {
  margin: 0 20px;
}

nav button {
  margin-left: 10px;
  border-radius: 8px;
  padding: 5px 10px;

  cursor: pointer;
}

button {
  margin-left: 10px;
  border-radius: 8px;
  padding: 5px 10px;

  cursor: pointer;
}

input {
  border-radius: 8px;
}

main {
  max-width: 800px;
  width: 100%;
  margin: 20px 0;
  padding: 20px;

  border: 1px solid #5f5f5f;
  border-radius: 8px;

  background: #242640;
}

.hidden {
  display: none;
}


form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 5px 0;
  color: #fff;
}

form input,
form button {
  margin: 5px 0;
  padding: 10px;
}

form button {
  cursor: pointer;
}


#postList {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;

  background: #fff;
}

#postList:last-child {
  border-bottom: none;
}

.post {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 5px;
  border-bottom: 1px solid #ddd;
}


